# ðŸš— BMW Data Preprocessing & Visualization (2010â€“2024)

###  About the Project
This notebook performs **data preprocessing and exploratory data analysis (EDA)** on BMW car sales data from **2010 to 2024**.  
The aim is to clean, understand, and visualize the data to uncover meaningful insights about BMWâ€™s market performance and trends.

The project covers:
-  Data loading, cleaning, and feature inspection  
-  Handling missing values and data formatting  
-  Creating visualizations (bar plots, histograms, line charts, etc.)  
-  Drawing insights from real-world automotive data  

---

###  Tools & Libraries
- **Python**
- **Pandas**
- **NumPy**
- **Matplotlib**
- **Seaborn**

---

### ðŸŽ¯ Objective
To demonstrate how proper data preprocessing and visualization techniques can transform raw automotive sales data into **valuable business insights**.

---

# ïƒ˜	Data Preprocessing:

- Data preprocessing is the cleaning and transformation of raw data into a usable format .
- The main goals of data preprocessing are :
1. **Data Cleaning:**
   - Removing or correcting inaccurate or inconsistent data.
   - Handling duplicate records or entries.
   - Standardizing data formats and values.

2. **Handling Missing Data:**
   - Identifying and handling missing values, which can involve imputation (replacing missing values with estimated values) or removal of rows or columns with excessive missing data.

3. **Data Transformation:**
   - Encoding categorical variables into numerical format, often using techniques like one-hot encoding or label encoding.
   - Scaling or normalizing numerical features to bring them to a common scale.
   - Logarithmic or power transformations to address data skewness.

4. **Handling Outliers:**
   - Identifying and addressing outliers, which can involve removing or transforming extreme values.

5. **Feature Engineering:**
   - Creating new features based on domain knowledge or insights from the data.
   - Reducing dimensionality through techniques like Principal Component Analysis (PCA).

6. **Data Reduction:**
   - Reducing the size of the dataset while preserving its essential characteristics, often through techniques like sampling or aggregation.

7. **Data Integration:**
   - Combining data from multiple sources into a single dataset.

8. **Data Formatting:**
   - Ensuring that the data is in the correct data types (e.g., dates are in date format) and has consistent units.

9. **Data Splitting:**
   - Splitting the data into training, validation, and test sets for machine learning tasks.

10. **Handling Imbalanced Data:**
    - Addressing class imbalance in classification problems through techniques like oversampling, undersampling, or using synthetic data generation methods.

In [1]:
# The First step is to import important libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Load the Dataset

In [2]:
# The second step is to load the dataset on which we will work.
bmw = pd.read_csv(r"C:\Users\ariya\OneDrive\Documents\Dataset\BMW sales data (2010-2024) (1).csv",header=0)

In [3]:
# To show the table call the variable :
bmw

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [4]:
# Show first few rows :
bmw.head()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [5]:
# Show Last few rows:
bmw.tail()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [6]:
# After load the dataset check the *Shape* of data
bmw.shape

(50000, 11)

In [7]:
# Check the Basic *informations* and colums data-types:
bmw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [8]:
# Get statistical summary of numerical columns :
bmw.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [9]:
# The describe method only shows for numerical columns but if you want to see all then use 'include=all' :
bmw.describe(include='all')

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
count,50000,50000.000000,50000,50000,50000,50000,50000.000000,50000.000000,50000.000000,50000.000000,50000
unique,11,NaN,6,6,4,2,NaN,NaN,NaN,NaN,2
top,7 Series,NaN,Asia,Red,Hybrid,Manual,NaN,NaN,NaN,NaN,Low
freq,4666,NaN,8454,8463,12716,25154,NaN,NaN,NaN,NaN,34754
mean,NaN,2017.015700,NaN,NaN,NaN,NaN,3.247180,100307.203140,75034.600900,5067.514680,NaN
std,NaN,4.324459,NaN,NaN,NaN,NaN,1.009078,57941.509344,25998.248882,2856.767125,NaN
min,NaN,2010.000000,NaN,NaN,NaN,NaN,1.500000,3.000000,30000.000000,100.000000,NaN
25%,NaN,2013.000000,NaN,NaN,NaN,NaN,2.400000,50178.000000,52434.750000,2588.000000,NaN
50%,NaN,2017.000000,NaN,NaN,NaN,NaN,3.200000,100388.500000,75011.500000,5087.000000,NaN
75%,NaN,2021.000000,NaN,NaN,NaN,NaN,4.100000,150630.250000,97628.250000,7537.250000,NaN
max,NaN,2024.000000,NaN,NaN,NaN,NaN,5.000000,199996.000000,119998.000000,9999.000000,NaN

In [10]:
# Checks for missing values :
bmw.isnull()

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
49995,False,False,False,False,False,False,False,False,False,False,False
49996,False,False,False,False,False,False,False,False,False,False,False
49997,False,False,False,False,False,False,False,False,False,False,False
49998,False,False,False,False,False,False,False,False,False,False,False
49999,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Checks for overall missing values :
bmw.isnull().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

-------------
### Finding Descriptions for individuals :

In [12]:
bmw

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [13]:
bmw['Transmission'].describe()

count      50000
unique         2
top       Manual
freq       25154
Name: Transmission, dtype: object

In [14]:
# To find the particular statistical functions :
bmw['Mileage_KM'].mean()

np.float64(100307.20314)

In [15]:
# To find the particular statistical functions :
bmw['Mileage_KM'].median()

100388.5

In [16]:
# To find the particular statistical functions :
bmw['Mileage_KM'].count()

np.int64(50000)

In [17]:
# To find the most occuring range :
bmw['Sales_Classification'].mode() # The dataset has most low prices

0    Low
Name: Sales_Classification, dtype: object

 -------------------------------
### Value_counts:
How many times the each unique value occurs.

In [18]:
#useful when categorical variation is taken into consideration :
bmw['Color'].value_counts()

Color
Red       8463
Silver    8350
Grey      8348
White     8304
Black     8273
Blue      8262
Name: count, dtype: int64

In [19]:
# To sort the values in ascending  :
bmw['Color'].value_counts().sort_values(ascending=True)

Color
Blue      8262
Black     8273
White     8304
Grey      8348
Silver    8350
Red       8463
Name: count, dtype: int64

In [20]:
# To sort the values in descending :
bmw['Color'].value_counts().sort_values(ascending=False)

Color
Red       8463
Silver    8350
Grey      8348
White     8304
Black     8273
Blue      8262
Name: count, dtype: int64

In [21]:
# To see the 'value_counts()' in percentage :
bmw['Sales_Classification'].value_counts()/len(bmw)*100

Sales_Classification
Low     69.508
High    30.492
Name: count, dtype: float64

In [22]:
# To see the unique value in the datasets :
bmw['Region'].unique()

array(['Asia', 'North America', 'Middle East', 'South America', 'Europe',
       'Africa'], dtype=object)

In [23]:
# To see all values including 'nan' values and 'non-unique' values use :
bmw['Region'].nunique()

6

 -------
### Modifying Columns :

In [24]:
# To get all columns name :
bmw.columns

Index(['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission',
       'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume',
       'Sales_Classification'],
      dtype='object')

In [25]:
# To get the particular columns which we want to show :
bmw[['Year','Region','Color']]

       Year         Region   Color
0      2016           Asia     Red
1      2013  North America     Red
2      2022  North America    Blue
3      2024    Middle East    Blue
4      2020  South America   Black
...     ...            ...     ...
49995  2014           Asia     Red
49996  2023    Middle East  Silver
49997  2010    Middle East     Red
49998  2020           Asia   White
49999  2020  North America    Blue

[50000 rows x 3 columns]

In [26]:
#finding missing values for particular columns :
bmw[['Color','Fuel_Type']].isnull()

       Color  Fuel_Type
0      False      False
1      False      False
2      False      False
3      False      False
4      False      False
...      ...        ...
49995  False      False
49996  False      False
49997  False      False
49998  False      False
49999  False      False

[50000 rows x 2 columns]

In [27]:
#finding missing values for particular sum of all columns :
bmw[['Color','Fuel_Type']].isnull().sum()

Color        0
Fuel_Type    0
dtype: int64

In [28]:
# Renaming the columns :
bmw.columns=['Model','Years','Region','Colors','Fuel_Type','Transmission','Engine_Size_L','Mileage_KM','Price_USD','Sales_Volume','Sales_Classification']

In [29]:
bmw

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [30]:
# To add new column in the dataset :
bmw['Brand']= 'BMW'

In [31]:
bmw

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [32]:
# To delete the column
# del bmw['Brand']

In [33]:
bmw # column 'Brand' has deleted.

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

 -------------
### Crosstab 
Allows to compare two categorial variables.

In [34]:
# TO know the full details of function we use something called 'Doc string' :
?pd.crosstab

Signature:
pd.crosstab(
    index,
    columns,
    values=None,
    rownames=None,
    colnames=None,
    aggfunc=None,
    margins: 'bool' = False,
    margins_name: 'Hashable' = 'All',
    dropna: 'bool' = True,
    normalize: "bool | Literal[0, 1, 'all', 'index', 'columns']" = False,
) -> 'DataFrame'
Docstring:
Compute a simple cross tabulation of two (or more) factors.

By default, computes a frequency table of the factors unless an
array of values and an aggregation function are passed.

Parameters
----------
index : array-like, Series, or list of arrays/Series
    Values to group by in the rows.
columns : array-like, Series, or list of arrays/Series
    Values to group by in the columns.
values : array-like, optional
    Array of values to aggregate according to the factors.
    Requires `aggfunc` be specified.
rownames : sequence, default None
    If passed, must match number of row arrays passed.
colnames : sequence, default None
    If passed, must match number of column arrays passed.
aggfunc : function, optional
    If specified, requires `values` be specified as well.
margins : bool, default False
    Add row/column margins (subtotals).
margins_name : str, default 'All'
    Name of the row/column that will contain the totals
    when margins is True.
dropna : bool, default True
    Do not include columns whose entries are all NaN.
normalize : bool, {'all', 'index', 'columns'}, or {0,1}, default False
    Normalize by dividing all values by the sum of values.

    - If passed 'all' or `True`, will normalize over all values.
    - If passed 'index' will normalize over each row.
    - If passed 'columns' will normalize over each column.
    - If margins is `True`, will also normalize margin values.

Returns
-------
DataFrame
    Cross tabulation of the data.

See Also
--------
DataFrame.pivot : Reshape data based on column values.
pivot_table : Create a pivot table as a DataFrame.

Notes
-----
Any Series passed will have their name attributes used unless row or column
names for the cross-tabulation are specified.

Any input passed containing Categorical data will have **all** of its
categories included in the cross-tabulation, even if the actual data does
not contain any instances of a particular category.

In the event that there aren't overlapping indexes an empty DataFrame will
be returned.

Reference :ref:`the user guide <reshaping.crosstabulations>` for more examples.

Examples
--------
>>> a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
...               "bar", "bar", "foo", "foo", "foo"], dtype=object)
>>> b = np.array(["one", "one", "one", "two", "one", "one",
...               "one", "two", "two", "two", "one"], dtype=object)
>>> c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
...               "shiny", "dull", "shiny", "shiny", "shiny"],
...              dtype=object)
>>> pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])
b   one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

Here 'c' and 'f' are not represented in the data and will not be
shown in the output because dropna is True by default. Set
dropna=False to preserve categories with no data.

>>> foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
>>> bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
>>> pd.crosstab(foo, bar)
col_0  d  e
row_0
a      1  0
b      0  1
>>> pd.crosstab(foo, bar, dropna=False)
col_0  d  e  f
row_0
a      1  0  0
b      0  1  0
c      0  0  0
File:      c:\users\ariya\anaconda3\lib\site-packages\pandas\core\reshape\pivot.py
Type:      function

In [35]:
#Allows to compare two categorical variables :
pd.crosstab(bmw['Colors'],bmw['Transmission'])

Transmission  Automatic  Manual
Colors
Black              4130    4143
Blue               4114    4148
Grey               4144    4204
Red                4132    4331
Silver             4125    4225
White              4201    4103

In [36]:
pd.crosstab(bmw['Years'], bmw['Fuel_Type'])

Fuel_Type  Diesel  Electric  Hybrid  Petrol
Years
2010          829       837     826     838
2011          791       841     837     809
2012          791       825     880     836
2013          815       821     843     847
2014          867       810     868     805
2015          803       826     869     860
2016          842       849     814     860
2017          801       822     822     845
2018          801       859     803     815
2019          807       826     889     870
2020          814       791     781     819
2021          841       842     870     819
2022          858       845     903     872
2023          753       840     812     814
2024          850       837     899     841

In [37]:
pd.crosstab(bmw['Model'], bmw['Years'])

Years,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Model,,,,,,,,,,,,,,,
3 Series,317,293,279,299,322,315,327,307,316,291,295,323,314,299,298
5 Series,299,305,299,296,296,328,343,306,280,315,307,295,303,292,328
7 Series,279,319,295,309,320,326,299,343,293,287,305,324,330,309,328
M3,292,273,283,291,308,308,295,292,306,279,290,304,314,306,272
M5,310,324,277,310,276,280,256,290,322,315,292,325,297,287,317
X1,296,314,326,334,320,292,298,286,272,339,312,286,312,283,300
X3,310,279,319,300,284,287,332,289,286,304,272,298,325,289,323
X5,301,284,314,289,320,281,308,301,305,326,283,281,343,270,281
X6,290,280,284,286,306,282,275,281,302,331,283,310,327,296,345
i3,320,303,334,302,299,331,324,289,276,315,279,332,303,284,327
i8,316,304,322,310,299,328,308,306,320,290,287,294,310,304,308

### Indexing 
- We have 2 types of indexing :
1. ILOC (Index location) : 
  - It access the data only on indexes not on columns.
  - Syntax : (Start value: End value) start is inclusive and end values is Exclusive.
2. Loc (Location) :
  - It will accese data with Labels as well as indexes.
  - Syntax : (Start value: End value) start is inclusive and end values is also inclusive.

In [38]:
bmw.loc[0:10,['Model','Years','Colors']]

       Model  Years  Colors
0   5 Series   2016     Red
1         i8   2013     Red
2   5 Series   2022    Blue
3         X3   2024    Blue
4   7 Series   2020   Black
5   5 Series   2017  Silver
6         i8   2022   White
7         M5   2014   Black
8         X3   2016   White
9         i8   2019   White
10  3 Series   2012   White

In [39]:
bmw.iloc[0:100,[1,5]]

    Years Transmission
0    2016       Manual
1    2013    Automatic
2    2022    Automatic
3    2024    Automatic
4    2020       Manual
..    ...          ...
95   2022       Manual
96   2024    Automatic
97   2011    Automatic
98   2019       Manual
99   2021       Manual

[100 rows x 2 columns]

In [40]:
bmw.loc[1:100:2,['Model','Years']]

       Model  Years
1         i8   2013
3         X3   2024
5   5 Series   2017
7         M5   2014
9         i8   2019
11        i8   2016
13  5 Series   2020
15        M3   2014
17        M5   2017
19        X5   2012
21        X1   2014
23  7 Series   2017
25        X3   2023
27        X1   2011
29        M3   2014
31        i8   2021
33        i8   2015
35        M5   2021
37        i8   2010
39        X5   2020
41        M5   2019
43        X5   2021
45        i8   2023
47  5 Series   2024
49        i3   2012
51        M3   2016
53        i3   2018
55        M5   2014
57        X6   2016
59  3 Series   2018
61        X6   2011
63        X6   2018
65  3 Series   2023
67        X3   2019
69  3 Series   2019
71  5 Series   2011
73        i3   2021
75        i3   2021
77        X3   2021
79        M3   2017
81  7 Series   2012
83        X6   2010
85        M5   2011
87        X6   2013
89        X3   2023
91        X5   2015
93        i3   2013
95        X6   2022
97        i8   2011
99        X1   2021

-------------
### Filtering
- Filter based on conditions.
1. AND
2. OR

In [41]:
bmw

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [42]:
# get the dataset where Model is '7 Series' and having Color 'Black' :
bmw[(bmw['Model']=='7 Series') & (bmw['Colors']=='Black')]

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
23,7 Series,2017,North America,Black,Petrol,Automatic,3.2,58288,101791,7521,High,BMW
152,7 Series,2018,Middle East,Black,Electric,Automatic,4.7,38502,85604,5312,Low,BMW
166,7 Series,2021,Europe,Black,Diesel,Automatic,4.2,83191,60731,6249,Low,BMW
265,7 Series,2010,South America,Black,Petrol,Manual,4.3,52940,51743,4350,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49861,7 Series,2020,Europe,Black,Diesel,Automatic,2.7,130879,84592,1426,Low,BMW
49876,7 Series,2016,South America,Black,Diesel,Manual,1.7,146559,101684,9730,High,BMW
49915,7 Series,2017,Europe,Black,Hybrid,Manual,4.4,137374,109355,8958,High,BMW
49952,7 Series,2014,Africa,Black,Electric,Manual,4.8,56366,38857,3135,Low,BMW
49961,7 Series,2018,Middle East,Black,Electric,Automatic,4.3,190522,106137,6796,Low,BMW

In [43]:
# get the dataset where Model is '7 Series' and having Color 'Black' :
bmw[(bmw['Model']=='5 Series') & (bmw['Transmission']=='Automatic')]

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
71,5 Series,2011,Middle East,Red,Hybrid,Automatic,3.1,139212,31815,2011,Low,BMW
116,5 Series,2011,Europe,White,Petrol,Automatic,2.1,146963,90224,3683,Low,BMW
131,5 Series,2018,Middle East,Grey,Petrol,Automatic,3.3,45371,87345,1299,Low,BMW
158,5 Series,2011,Europe,Black,Diesel,Automatic,2.5,116859,103384,9334,High,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49906,5 Series,2018,Africa,Grey,Petrol,Automatic,3.4,50493,42109,5982,Low,BMW
49935,5 Series,2018,Asia,Red,Diesel,Automatic,4.3,41689,97227,3608,Low,BMW
49958,5 Series,2018,Europe,Silver,Hybrid,Automatic,1.8,50777,101020,118,Low,BMW
49971,5 Series,2019,South America,Black,Petrol,Automatic,2.9,92510,88904,4471,Low,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW

In [44]:
# get the dataset where Model is '7 Series' and having Color 'Black' :
bmw[(bmw['Model']=='i3') | (bmw['Fuel_Type']=='Petrol')]

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
21,X1,2014,Africa,White,Petrol,Manual,4.8,13568,62941,1113,Low,BMW
23,7 Series,2017,North America,Black,Petrol,Automatic,3.2,58288,101791,7521,High,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49994,5 Series,2010,North America,Silver,Petrol,Manual,3.6,56672,32990,1575,Low,BMW
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW

### Data Cleaning
Data cleaning means fixing messy data in your data set.As the machine learning model never accepts messy data ,so before model building you have to clean your messy data.

Messy data could be:

Empty cells  
Data in wrong format  
Wrong data  
Duplicates

In [45]:
# Treating the missing values.
bmw.isnull()

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,False,False,False,False,False,False,False,False,False,False,False,False
49996,False,False,False,False,False,False,False,False,False,False,False,False
49997,False,False,False,False,False,False,False,False,False,False,False,False
49998,False,False,False,False,False,False,False,False,False,False,False,False
49999,False,False,False,False,False,False,False,False,False,False,False,False

In [46]:
bmw.isnull().sum()

Model                   0
Years                   0
Region                  0
Colors                  0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
Brand                   0
dtype: int64

#### drop vs dropna
1. Drop : Drops that columns and rows that we drop
   - Drop is used we we have 40-50% missing data.
2. Dropna : Dropna drop only null values from the datasets
   - Dropna it used to when total missing data is less than 15%.

In [47]:
bmw.dropna()# It will delete null values from the dataset

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [50]:
# Deleting column that are not important :
bmw.drop(['Brand'],axis=1)# Axis 1 means columns and axis 0 means row.

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [53]:
bmw.dropna(subset=['Years'])

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [68]:
# Droping duplicates :
bmw.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49995    False
49996    False
49997    False
49998    False
49999    False
Length: 50000, dtype: bool

In [70]:
bmw.drop_duplicates()

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

--------
### Fillna :
- Basically filling the null values in the dataset we can also customize the values whatever we want.
- There are two types of Fillna methods are as follows :
1. Ffill(forward fill) : Fills the current value to next cell.
2. Bfill(Backward fill): Fills the current value to previous cell.

In [54]:
# Filling the missing data :
bmw.fillna(value=0)

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [55]:
# Filling the missing data :
bmw.fillna(value='No values')

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [56]:
bmw.fillna(method='ffill')

C:\Users\ariya\AppData\Local\Temp\ipykernel_1300\1630980348.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  bmw.fillna(method='ffill')

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [57]:
# To ignore warnings :
import warnings 
warnings.filterwarnings('ignore')

In [58]:
bmw.fillna(method='bfill')
# Now warnings will not appear.

,Model,Years,Region,Colors,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification,Brand
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High,BMW
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low,BMW
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low,BMW
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low,BMW
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low,BMW
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High,BMW
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High,BMW
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High,BMW
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High,BMW
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low,BMW

In [66]:
# Filling the null values with mean values of it .
bmw['Years'].fillna(bmw['Years'].mean())

0        2016
1        2013
2        2022
3        2024
4        2020
         ...
49995    2014
49996    2023
49997    2010
49998    2020
49999    2020
Name: Years, Length: 50000, dtype: int64

### Group by :
- Groups the columns based on aggregate functions.

In [72]:
bmw.groupby(['Model'])['Years'].mean() # It gives average year for models.

Model
3 Series    2017.007399
5 Series    2017.018510
7 Series    2017.083369
M3          2017.037163
M5          2017.038187
X1          2016.917724
X3          2017.027796
X5          2016.969913
X6          2017.189370
i3          2016.948029
i8          2016.939210
Name: Years, dtype: float64

In [73]:
bmw.groupby(['Model'])['Years'].max() # It gives max year for models.

Model
3 Series    2024
5 Series    2024
7 Series    2024
M3          2024
M5          2024
X1          2024
X3          2024
X5          2024
X6          2024
i3          2024
i8          2024
Name: Years, dtype: int64

In [74]:
bmw.groupby(['Model'])['Years'].count() # It gives years count for models.

Model
3 Series    4595
5 Series    4592
7 Series    4666
M3          4413
M5          4478
X1          4570
X3          4497
X5          4487
X6          4478
i3          4618
i8          4606
Name: Years, dtype: int64

In [75]:
# We can also group multiple columns :
bmw.groupby(['Model','Colors','Fuel_Type'])['Price_USD'].max()

Model     Colors  Fuel_Type
3 Series  Black   Diesel       119109
                  Electric     119955
                  Hybrid       119922
                  Petrol       119324
          Blue    Diesel       119319
                                ...
i8        Silver  Petrol       119651
          White   Diesel       119962
                  Electric     118639
                  Hybrid       119954
                  Petrol       118332
Name: Price_USD, Length: 264, dtype: int64

In [76]:
# We can also group multiple columns :
bmw.groupby(['Model','Colors','Fuel_Type'])['Price_USD'].count()

Model     Colors  Fuel_Type
3 Series  Black   Diesel       181
                  Electric     169
                  Hybrid       200
                  Petrol       163
          Blue    Diesel       182
                              ...
i8        Silver  Petrol       212
          White   Diesel       215
                  Electric     181
                  Hybrid       189
                  Petrol       184
Name: Price_USD, Length: 264, dtype: int64

--------
### Seaborn :
- We can also import seaborn inbuilts datasets.

In [77]:
import seaborn as sns

In [79]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [81]:
# Now loading any 1 dataset of choice :
sns.load_dataset('flights')

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]